<% @teams.each do |t| %>
<%= t.name %><br>
<%= t.description %>
<% t.roles.each do |role| %>
<ul>
<li> <%= link_to role.title, role_path(role.id) %></li>
</ul>
<%end%>
<% t.users.each do |user| %>
<ul>
<li><%= user.name %></li>
</ul>
<%end%>
<%end%>