<%# Shows the team information 
Shows the roles that belong to that team  
Shows the users who are part of the team
Has a link to add a role to the team 
Has a button to edit the team 
Has a button to delete the team 
 %>

<%= @team.name %><br>
<%= @team.description %>
<% @team.roles.each do |role| %>
<ul>
<li> <%= link_to role.title, role_path(role.id) %></li>
</ul>
<%end%>
<% @team.users.each do |user| %>
<ul>
<li><%= user.name %></li>
</ul>
<%end%>
