<% @users.each do |user| %>
<% if current_user.admin? %>
<ul>
<li><%= link_to user.name, user_path(user) %> <%= "(Admin)" if user.admin?%></li>
</ul>
<% else %>
<ul>
<li><%= user.name %></li>
</ul>
<%end%>
<%end%>