<% @users.each do |user| %>
<% if current_user.admin? %>
<p>
<%= link_to user.name, user_path(user) %> <%= "*" if user.admin?%><br>
</p>
<% else %>
<p>
<%= user.name %><br>
</p>
<%end%>
<%end%>
<br>
<p>* indicates admin </p>